<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
{% block meta %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
{% endblock %}
{% block js %} 
<script type="text/javascript" src="{{ STATIC_URL }}weather/jquery.js"></script>
{% endblock %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}weather/main.css?version=1.0.1" />
<style type="text/css">
dd {margin: 5px 0}
ul,li {margin:0;padding:0}
.errorlist {color:red; }
#sub_type ul {display: inline;}
#sub_type li {display:inline}
</style> 
{% endblock %}
<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="wrapper">

{% block content %}
{% endblock %}

{% block about %}
<dl id="about" class="content_wrap">
<dt>订制说明：</dt>

<dd>1. 免费为中国移动用户（需要先开通飞信) 提供天气预报短信，支持两种订制方式。实用灵活。
</dd>

<dd>2. 输入手机号码，接受加为好友的飞信通知即可，提供本站退订或者在好友列表中删除本站飞信用户。</dd>

<dd>3. 全部天气数据来自中央气象台中国天气网, 准确度高。</dd>

<dd> 4. 本站承诺绝对不会公开用户个人隐私数据，更不会向用户发送天气预报以外的信息。
</dd>
<dd>5. 这是本人学习Python, <a href="www.djangoproject.com" target="_blank" >Django</a>, git ,dotcloud的实践项目， 非商业应用，完全开源。<a target="_blank" href="https://github.com/falconchen/FetionWether">项目主页</a></dd>

<dd>6. 如果有建议或合作请联系作者本人:<a href="www.onephper.tk">Falcon</a> | qq:516974090 | Email:falcon_chen#qq.com</dd>
</dl>
{% endblock %}

{% block footer %}
<div id="footer"> Coded by Falcon <a href="http://www.onephper.tk" target="_blank" > 雕刻时光</a> June,2012 
</div>
{% endblock %}



</div>
</body>
{% block tongji %}
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2a858deca8ef844c805865909def793a' type='text/javascript'%3E%3C/script%3E"));
</script>
{% endblock %}

</html>