<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
{% block meta %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
{% endblock %}
{% block js %} 
<script type="text/javascript" src="{{ STATIC_URL }}weather/jquery.js"></script>
{% endblock %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}weather/main.css?version=1.2" />
<style type="text/css">
dd {margin: 5px 0}
ul,li {margin:0;padding:0}
.errorlist {color:red; }
#sub_type ul {display: inline;}
#sub_type li {display:inline}
</style> 
{% endblock %}
<title>{% block title %}{% endblock %}</title>
</head>
<body>

<div id="forecast">
    <ul>
        <li class="cast" id="location"></li>
        <li class="cast" id="today_cast"></li>
        <li class="cast" id="tomorrow_cast"><li>       
        <li class="cast" id="ip_address"><li>
    </ul>
</div>


<div id="wrapper">

{% block content %}
{% endblock %}

{% block about %}
<dl id="about" class="content_wrap">
<dt>订制说明：</dt>

<dd>0. 本应用已移植至新浪云计算开发平台(SAE)，大幅提高国内访问速度, 传送门: <a href="http://sms128.sinaapp.com/" id="nothing">请猛击我</a></dd>
<dd>1. 免费为中国移动用户（需要先开通飞信) 提供天气预报短信，支持两种订制方式。实用灵活。
</dd>

<dd>2. 输入手机号码，接受加为好友的飞信通知即可，提供本站退订或者在好友列表中删除本站飞信用户。</dd>

<dd>3. 全部天气数据来自中央气象台中国天气网, 准确度高。</dd>

<dd> 4. 本站承诺绝对不会公开用户个人隐私数据，更不会向用户发送天气预报以外的信息。
</dd>
<dd>5. 这是本人学习Python, <a href="www.djangoproject.com" target="_blank" >Django</a>, git ,dotcloud的实践项目， 非商业应用，开放源码。<a target="_blank" href="https://github.com/falconchen/FetionWether">项目主页</a></dd>

<dd>6. 有建议、合作或使用问题请联系作者:<a href="www.onephper.tk">Falcon</a> | <a href="http://wpa.qq.com/msgrd?V=1&Uin=516974090&Site=tq.sms128.net/FoolCoder&Menu=yes" target="_blank">qq:516974090</a> | Email:falcon_chen#qq.com</dd>


</dl>
{% endblock %}

{% block footer %}
<div id="footer"> Coded by Falcon <a href="http://www.onephper.tk" target="_blank" > 雕刻时光</a> June,2012 
</div>
{% endblock %}


</div>
<div id="right_side">
<div id="votes">
<div class="title"><span class="leftBorder"></span><span class="midBlock">短信样式预览</span><span class="rightBorder"></span></div>
<div id="vote_content">
<dl>
           <p>天气短信1:每日发送三天预报</p>
	       <p><img src="/static/weather/weather_sms.gif" /></p>
           <p>天气短信2:可能下雨时才发送</p>
	       <p><img src="/static/weather/weather_sms.png" /></p>
     		     
           <p>预警短信</p>
	       <p><img src="/static/weather/alarm_sms.gif" /></p>
     	
</dl>
</div>
</div>
</div>

</body>
{% block tongji %}
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ffa72f8e59b6fb38e797c7a086827fb24' type='text/javascript'%3E%3C/script%3E"));
</script>
<script src="http://app.baidu.com/static/appstore/monitor.st"></script>
{% endblock %}

</html>