<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
{% block meta %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
{% endblock %}
{% block js %} 
<script type="text/javascript" src="{{ STATIC_URL }}weather/jquery.js"></script>
{% endblock %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}weather/main.css?version=1.0.1" />
<style type="text/css">
dd {margin: 5px 0}
ul,li {margin:0;padding:0}
.errorlist {color:red; }
#sub_type ul {display: inline;}
#sub_type li {display:inline}
</style> 
{% endblock %}
<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="wrapper">

{% block content %}
{% endblock %}

{% block footer %}
<div id="footer"> Coded by Falcon <a href="http://www.onephper.tk" target="_blank" > 雕刻时光</a> June,2012 
</div>
{% endblock %}



</div>
</body>

</html>