{% extends "base.html" %}
{% comment %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% endcomment %}
{% block meta %}
{{ block.super }}
<meta  name="keywords" content="免费短信, 天气预报, 飞信天气,">
<meta  name="description" content="飞信免费天气预报短信订制服务。">
{% endblock %}


{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}weather/jdata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}weather/main.js?version=1.2"></script>
{% endblock %}
{% block title %} 免费订制短信天气预报首页 {% endblock %}

{% block content %}
<h1><a href="/" title="用手机订阅你的天气">飞信天气网</a></h1>
<h2 style='float:left'>飞信免费天气预报短信订制服务。</h2>
<br/>
<div id="left_side">
{% block nav %}
<div id="nav">
    <span class="leftBorder"></span>
    <a  id="insert" href="/">我要订制</a>
	<a id="update" href="/weather/verify/update/">更改订阅</a>
	<a id="deactive" href="/weather/verify/deactive/">退订</a>
	<a id="active" href="/weather/verify/active/">重新激活</a>	
<a href="http://sms128.sinaapp.com" target="_blank">国内访问地址(Beta)</a>
    <span class="rightBorder"></span>
</div>
{% endblock %}
<div class="subTitle">
{% ifnotequal msg None %}
<div id='msg'>{{ msg|escape }}</div>
{% endifnotequal %}
</div>



{% ifnotequal form None %}
<div class="content_wrap">
<h3><b>公告:</b> 气象灾害预警短信正在测试, 已移植到SAE, 改善国内访问速度.<a href="http://sms128.sinaapp.com/" id="nothing">体验地址</a></h3>

	<form action="" method="post" id="{{ form_id }}">
	{% if form.errors %}
	    <p style="color: red;font-weight: bold">
	        {# Please correct the error{{ form.errors|pluralize }} below. #}
	         出错了，请检查相关字段
	    </p>
	{% endif %}	
		
		
	<dl>
		{% if not form.phone_num %} <dt>设置你的订阅信息</dt>{% endif %}
	{% comment %}	
		{{ form.as_ul }}
	{% endcomment %}
		{% block fields %}
		<dd>
			{{ form.province.errors }}
			{{ form.city.errors }}
			<label for='province'>省份地区:</label>
			{{ form.province }}	
			<label for='city'>城市:</label>
			{{ form.city }}
		</dd>
		{% if form.phone_num %}
		<dd>
			
			<label for='phone_num'>手机号码:</label>
			{{ form.phone_num }}<strong style="color:red">*</strong>
           {{ form.phone_num.errors }} 
		</dd>
		{% endif %}
		<dd>
			{{ form.hour.errors }}
			<label for='hour'>发送时间:</label>
			{{ form.hour }}
		</dd>
		
		<dd id="sub_type">
			{{ form.sub_type.errors }}
			<label for='sub_type'>订阅类型:</label>
			{{ form.sub_type }}
			
		</dd>	
		{% endblock %}
		 
	</dl>
	{% csrf_token %}
	<input class="submit" type="submit" value="确定">
{% if action %}
	<input type="hidden" name="action"  value="{{ action }}">
{% endif %}
	</form>	

</div>
{% endifnotequal %}

{% endblock %}
</div>